.version.calendario /* version checker */
{
	color: #000011;
	background-color: #74665C;
}

.html
{
	background: #003973 url("../images/fondo-azul.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 914px;
	min-height: 497.971213876967px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 27px 23px 75.028786123033px;
}

#slideshowu1006
{
	z-index: 33;
	width: 0.01px;
	height: 679px;
	margin-left: 38px;
	margin-top: 180px;
	position: relative;
}

#u1017
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding: 22px 22px 40px;
	-pie-background: rgba(0,0,0,0.9);
}

#u1017popup
{
	z-index: 34;
}

#u1020
{
	z-index: 35;
	background-color: transparent;
}

#u1007
{
	position: absolute;
	width: 837px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1007popup
{
	z-index: 37;
}

#u1008
{
	z-index: 38;
	width: 826px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1008:hover
{
	width: 826px;
	height: 679px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1015
{
	position: absolute;
	width: 87px;
	border-style: none;
	border-color: transparent;
	background-color: #A30012;
	border-radius: 16px;
	padding-bottom: 8px;
	top: -131px;
	left: 425px;
}

#u1015:hover
{
	background-color: #00457D;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1015:active
{
	background-color: #6B6B6B;
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u1016-4
{
	z-index: 41;
	width: 87px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pbuttonu400
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: -859px;
}

#buttonu400
{
	z-index: 19;
	width: 152px;
	border-color: #787878;
	background-color: #A30012;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u401-4
{
	z-index: 20;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu400:hover #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu400:hover #u401-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu398
{
	z-index: 14;
	width: 152px;
	border-color: #787878;
	background-color: #00457D;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#buttonu398.ButtonSelected
{
	background-color: #A30012;
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u399-4
{
	z-index: 15;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu400.ButtonSelected #u401-4,#buttonu398:hover #u399-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu398:hover #u399-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u402-4
{
	z-index: 24;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 359px;
}

#u402-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 6px -10000px 0px 0px;
}

#buttonu394
{
	z-index: 4;
	width: 152px;
	border-color: #787878;
	background-color: #A30012;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u395-4
{
	z-index: 5;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu398.ButtonSelected #u399-4,#buttonu394:hover #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#u402-4:hover p,#buttonu394:hover #u395-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu396
{
	z-index: 9;
	width: 152px;
	border-color: #787878;
	background-color: #A30012;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#buttonu400:hover,#buttonu394:hover,#buttonu396:hover
{
	background-color: #000000;
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u397-4
{
	z-index: 10;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu394.ButtonSelected #u395-4,#buttonu396:hover #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu396.ButtonSelected #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu396:hover #u397-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu614
{
	width: 0.01px;
	margin-top: -811px;
}

#u614
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u609
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u624-4
{
	z-index: 28;
	width: 170px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 372px;
}

#u619
{
	z-index: 32;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 63px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

