.version.llena_la_polla /* version checker */
{
	color: #0000F3;
	background-color: #76C7F2;
}

.html
{
	background: #000000 url("../images/fondo.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 849px;
	min-height: 498px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 27px 62px 75px 49px;
}

#pbuttonu409
{
	width: 0.01px;
	margin-left: 13px;
}

#buttonu409
{
	z-index: 20;
	width: 152px;
	border-color: #787878;
	background-color: #00457D;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u410-4
{
	z-index: 21;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu409:hover #u410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu409:hover #u410-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu407
{
	z-index: 15;
	width: 152px;
	border-color: #787878;
	background-color: #00457D;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#buttonu407:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u408-4
{
	z-index: 16;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu409.ButtonSelected #u410-4,#buttonu407:hover #u408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu407:hover #u408-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u411-4
{
	z-index: 25;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 359px;
}

#u411-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 6px -10000px 0px 0px;
}

#buttonu403
{
	z-index: 5;
	width: 152px;
	border-color: #787878;
	background-color: #00457D;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#buttonu403.ButtonSelected
{
	background-color: #00457D;
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u404-4
{
	z-index: 6;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu407.ButtonSelected #u408-4,#buttonu403:hover #u404-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#u411-4:hover p,#buttonu403:hover #u404-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu405
{
	z-index: 10;
	width: 152px;
	border-color: #787878;
	background-color: #00457D;
	border-radius: 40px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#buttonu409:hover,#buttonu405:hover
{
	background-color: #A30012;
	width: 152px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u406-4
{
	z-index: 11;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#buttonu403.ButtonSelected #u404-4,#buttonu405:hover #u406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu405.ButtonSelected #u406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 129px;
	margin: 7px -10000px 0px 0px;
}

#buttonu405:hover #u406-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu841
{
	width: 0.01px;
	margin-top: 20px;
}

#u841
{
	z-index: 2;
	width: 849px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u637
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 124px;
}

#u625
{
	z-index: 29;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u635-4
{
	z-index: 30;
	width: 133px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-family: montserrat, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 271px;
}

#u636-4
{
	z-index: 34;
	width: 168px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: montserrat, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 453px;
}

#u642
{
	z-index: 38;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 157px;
}

#u647
{
	z-index: 39;
	width: 69px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 316px;
}

#u727
{
	z-index: 40;
	width: 69px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 316px;
}

#u690
{
	z-index: 41;
	width: 69px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 316px;
}

#u724
{
	z-index: 42;
	width: 69px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 316px;
}

#u767
{
	z-index: 43;
	width: 69px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 777px;
	left: 316px;
}

#u833
{
	z-index: 44;
	width: 69px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1254px;
	left: 316px;
}

#u696
{
	z-index: 45;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 316px;
}

#u721
{
	z-index: 46;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 509px;
	left: 316px;
}

#u764
{
	z-index: 47;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 808px;
	left: 316px;
}

#u829
{
	z-index: 48;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1283px;
	left: 316px;
}

#u787
{
	z-index: 49;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1017px;
	left: 316px;
}

#u810
{
	z-index: 50;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1492px;
	left: 316px;
}

#u698
{
	z-index: 51;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
	left: 316px;
}

#u725
{
	z-index: 52;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 539px;
	left: 316px;
}

#u748
{
	z-index: 53;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 837px;
	left: 316px;
}

#u814
{
	z-index: 54;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1313px;
	left: 316px;
}

#u784
{
	z-index: 55;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1047px;
	left: 316px;
}

#u819
{
	z-index: 56;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1522px;
	left: 316px;
}

#u701
{
	z-index: 57;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 316px;
}

#u726
{
	z-index: 58;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 316px;
}

#u758
{
	z-index: 59;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 868px;
	left: 316px;
}

#u812
{
	z-index: 60;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1343px;
	left: 316px;
}

#u779
{
	z-index: 61;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1077px;
	left: 316px;
}

#u817
{
	z-index: 62;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1552px;
	left: 316px;
}

#u704
{
	z-index: 63;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 316px;
}

#u722
{
	z-index: 64;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 316px;
}

#u760
{
	z-index: 65;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 897px;
	left: 316px;
}

#u823
{
	z-index: 66;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1373px;
	left: 316px;
}

#u782
{
	z-index: 67;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1107px;
	left: 316px;
}

#u826
{
	z-index: 68;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1582px;
	left: 316px;
}

#u708
{
	z-index: 69;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 316px;
}

#u723
{
	z-index: 70;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	left: 316px;
}

#u759
{
	z-index: 71;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 928px;
	left: 316px;
}

#u824
{
	z-index: 72;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1403px;
	left: 316px;
}

#u783
{
	z-index: 73;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1137px;
	left: 316px;
}

#u828
{
	z-index: 74;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1612px;
	left: 316px;
}

#u735
{
	z-index: 75;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 659px;
	left: 316px;
}

#u761
{
	z-index: 76;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 957px;
	left: 316px;
}

#u821
{
	z-index: 77;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1432px;
	left: 316px;
}

#u780
{
	z-index: 78;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1166px;
	left: 316px;
}

#u813
{
	z-index: 79;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1642px;
	left: 316px;
}

#u741
{
	z-index: 80;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 688px;
	left: 316px;
}

#u745
{
	z-index: 81;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 987px;
	left: 316px;
}

#u825
{
	z-index: 82;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1462px;
	left: 316px;
}

#u781
{
	z-index: 83;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1196px;
	left: 316px;
}

#u827
{
	z-index: 84;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1671px;
	left: 316px;
}

#u840
{
	z-index: 85;
	width: 69px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1700px;
	left: 316px;
}

#u744
{
	z-index: 86;
	width: 69px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 748px;
	left: 316px;
}

#u649
{
	z-index: 87;
	width: 95px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 389px;
}

#u728
{
	z-index: 88;
	width: 95px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 389px;
}

#u688
{
	z-index: 89;
	width: 95px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 389px;
}

#u719
{
	z-index: 90;
	width: 95px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 389px;
}

#u768
{
	z-index: 91;
	width: 95px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 777px;
	left: 389px;
}

#u832
{
	z-index: 92;
	width: 95px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1254px;
	left: 389px;
}

#u694
{
	z-index: 93;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 389px;
}

#u718
{
	z-index: 94;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 509px;
	left: 389px;
}

#u763
{
	z-index: 95;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 808px;
	left: 389px;
}

#u831
{
	z-index: 96;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1283px;
	left: 389px;
}

#u789
{
	z-index: 97;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1017px;
	left: 389px;
}

#u799
{
	z-index: 98;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1492px;
	left: 389px;
}

#u699
{
	z-index: 99;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
	left: 389px;
}

#u711
{
	z-index: 100;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 539px;
	left: 389px;
}

#u746
{
	z-index: 101;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 837px;
	left: 389px;
}

#u822
{
	z-index: 102;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1313px;
	left: 389px;
}

#u785
{
	z-index: 103;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1047px;
	left: 389px;
}

#u795
{
	z-index: 104;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1522px;
	left: 389px;
}

#u702
{
	z-index: 105;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 389px;
}

#u715
{
	z-index: 106;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 389px;
}

#u753
{
	z-index: 107;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 868px;
	left: 389px;
}

#u820
{
	z-index: 108;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1343px;
	left: 389px;
}

#u778
{
	z-index: 109;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1077px;
	left: 389px;
}

#u797
{
	z-index: 110;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1552px;
	left: 389px;
}

#u705
{
	z-index: 111;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 389px;
}

#u709
{
	z-index: 112;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 389px;
}

#u756
{
	z-index: 113;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 897px;
	left: 389px;
}

#u818
{
	z-index: 114;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1373px;
	left: 389px;
}

#u772
{
	z-index: 115;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1107px;
	left: 389px;
}

#u803
{
	z-index: 116;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1582px;
	left: 389px;
}

#u706
{
	z-index: 117;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 389px;
}

#u713
{
	z-index: 118;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	left: 389px;
}

#u752
{
	z-index: 119;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 928px;
	left: 389px;
}

#u808
{
	z-index: 120;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1403px;
	left: 389px;
}

#u775
{
	z-index: 121;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1137px;
	left: 389px;
}

#u791
{
	z-index: 122;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1612px;
	left: 389px;
}

#u733
{
	z-index: 123;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 659px;
	left: 389px;
}

#u751
{
	z-index: 124;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 957px;
	left: 389px;
}

#u809
{
	z-index: 125;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1432px;
	left: 389px;
}

#u776
{
	z-index: 126;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1166px;
	left: 389px;
}

#u790
{
	z-index: 127;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1642px;
	left: 389px;
}

#u739
{
	z-index: 128;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 688px;
	left: 389px;
}

#u755
{
	z-index: 129;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 987px;
	left: 389px;
}

#u801
{
	z-index: 130;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1462px;
	left: 389px;
}

#u774
{
	z-index: 131;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1196px;
	left: 389px;
}

#u793
{
	z-index: 132;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1671px;
	left: 389px;
}

#u839
{
	z-index: 133;
	width: 95px;
	height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1700px;
	left: 389px;
}

#u743
{
	z-index: 134;
	width: 95px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 748px;
	left: 389px;
}

#u650
{
	z-index: 135;
	width: 80px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 488px;
}

#u729
{
	z-index: 136;
	width: 80px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 450px;
	left: 488px;
}

#u689
{
	z-index: 137;
	width: 80px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 488px;
}

#u720
{
	z-index: 138;
	width: 80px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 488px;
}

#u766
{
	z-index: 139;
	width: 80px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 777px;
	left: 488px;
}

#u834
{
	z-index: 140;
	width: 80px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1254px;
	left: 488px;
}

#u695
{
	z-index: 141;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 488px;
}

#u717
{
	z-index: 142;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 509px;
	left: 488px;
}

#u765
{
	z-index: 143;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 808px;
	left: 488px;
}

#u830
{
	z-index: 144;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1283px;
	left: 488px;
}

#u788
{
	z-index: 145;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1017px;
	left: 488px;
}

#u800
{
	z-index: 146;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1492px;
	left: 488px;
}

#u697
{
	z-index: 147;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
	left: 488px;
}

#u714
{
	z-index: 148;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 539px;
	left: 488px;
}

#u747
{
	z-index: 149;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 837px;
	left: 488px;
}

#u811
{
	z-index: 150;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1313px;
	left: 488px;
}

#u786
{
	z-index: 151;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1047px;
	left: 488px;
}

#u796
{
	z-index: 152;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1522px;
	left: 488px;
}

#u700
{
	z-index: 153;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 488px;
}

#u716
{
	z-index: 154;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 488px;
}

#u750
{
	z-index: 155;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 868px;
	left: 488px;
}

#u815
{
	z-index: 156;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1343px;
	left: 488px;
}

#u777
{
	z-index: 157;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1077px;
	left: 488px;
}

#u804
{
	z-index: 158;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1552px;
	left: 488px;
}

#u703
{
	z-index: 159;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 488px;
}

#u710
{
	z-index: 160;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 488px;
}

#u757
{
	z-index: 161;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 897px;
	left: 488px;
}

#u816
{
	z-index: 162;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1372px;
	left: 488px;
}

#u770
{
	z-index: 163;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1107px;
	left: 488px;
}

#u802
{
	z-index: 164;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1582px;
	left: 488px;
}

#u707
{
	z-index: 165;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 488px;
}

#u712
{
	z-index: 166;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	left: 488px;
}

#u762
{
	z-index: 167;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 928px;
	left: 488px;
}

#u806
{
	z-index: 168;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1403px;
	left: 488px;
}

#u769
{
	z-index: 169;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1137px;
	left: 488px;
}

#u794
{
	z-index: 170;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1612px;
	left: 488px;
}

#u734
{
	z-index: 171;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 659px;
	left: 488px;
}

#u754
{
	z-index: 172;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 957px;
	left: 488px;
}

#u807
{
	z-index: 173;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1432px;
	left: 488px;
}

#u773
{
	z-index: 174;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1166px;
	left: 488px;
}

#u805
{
	z-index: 175;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1642px;
	left: 488px;
}

#u740
{
	z-index: 176;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 688px;
	left: 488px;
}

#u749
{
	z-index: 177;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 987px;
	left: 488px;
}

#u792
{
	z-index: 178;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1462px;
	left: 488px;
}

#u771
{
	z-index: 179;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1196px;
	left: 488px;
}

#u798
{
	z-index: 180;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1671px;
	left: 488px;
}

#u838
{
	z-index: 181;
	width: 80px;
	height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1700px;
	left: 488px;
}

#u742
{
	z-index: 182;
	width: 80px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 748px;
	left: 488px;
}

.ie #u647,.ie #u727,.ie #u690,.ie #u724,.ie #u767,.ie #u833,.ie #u696,.ie #u721,.ie #u764,.ie #u829,.ie #u787,.ie #u810,.ie #u698,.ie #u725,.ie #u748,.ie #u814,.ie #u784,.ie #u819,.ie #u701,.ie #u726,.ie #u758,.ie #u812,.ie #u779,.ie #u817,.ie #u704,.ie #u722,.ie #u760,.ie #u823,.ie #u782,.ie #u826,.ie #u708,.ie #u723,.ie #u759,.ie #u824,.ie #u783,.ie #u828,.ie #u735,.ie #u761,.ie #u821,.ie #u780,.ie #u813,.ie #u741,.ie #u745,.ie #u825,.ie #u781,.ie #u827,.ie #u840,.ie #u744,.ie #u649,.ie #u728,.ie #u688,.ie #u719,.ie #u768,.ie #u832,.ie #u694,.ie #u718,.ie #u763,.ie #u831,.ie #u789,.ie #u799,.ie #u699,.ie #u711,.ie #u746,.ie #u822,.ie #u785,.ie #u795,.ie #u702,.ie #u715,.ie #u753,.ie #u820,.ie #u778,.ie #u797,.ie #u705,.ie #u709,.ie #u756,.ie #u818,.ie #u772,.ie #u803,.ie #u706,.ie #u713,.ie #u752,.ie #u808,.ie #u775,.ie #u791,.ie #u733,.ie #u751,.ie #u809,.ie #u776,.ie #u790,.ie #u739,.ie #u755,.ie #u801,.ie #u774,.ie #u793,.ie #u839,.ie #u743,.ie #u650,.ie #u729,.ie #u689,.ie #u720,.ie #u766,.ie #u834,.ie #u695,.ie #u717,.ie #u765,.ie #u830,.ie #u788,.ie #u800,.ie #u697,.ie #u714,.ie #u747,.ie #u811,.ie #u786,.ie #u796,.ie #u700,.ie #u716,.ie #u750,.ie #u815,.ie #u777,.ie #u804,.ie #u703,.ie #u710,.ie #u757,.ie #u816,.ie #u770,.ie #u802,.ie #u707,.ie #u712,.ie #u762,.ie #u806,.ie #u769,.ie #u794,.ie #u734,.ie #u754,.ie #u807,.ie #u773,.ie #u805,.ie #u740,.ie #u749,.ie #u792,.ie #u771,.ie #u798,.ie #u838,.ie #u742
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

